.content {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1024px) {
        top: 8em;
        flex-wrap: wrap;
        width: 100%;
        order: 1;

    }
}

.title {
    font-weight: 500;
    font-size: 30pt;
    display: flex;
    color: var(--font-secondary);
    margin-bottom: 3rem;
}

.name {
    color: var(--primary);
}

.paragraph {
    font-weight: 300;
    color: var(--font-light);
    font-size: 15pt;

    @media (max-width: 640px) {
        color: var(--font-secondary);
    }
}

.image {
    @media (max-width: 1024px) {
        order: 2;
    }

    @media (max-width: 640px) {
        display: none;
    }
}