:root {
  --primary: #fd853a;
  --background-primary: white;
  --background-secondary: #000000;
  --font-primary: #171717;
  --font-secondary: #344054;
  --font-tertiary: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}
