.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem 3rem 6rem;
  min-height: 100vh;
}

.home {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  height: 100%;
  display: flex;
  align-items: end;
}

.content {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}
