.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 80%;
  height: 5rem;
  background-color: var(--background-navbar);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;

  @media (max-width: 1024px) {
    width: 95%;
  }
}

.list {
  display: flex;
  height: 100%;
  list-style: none;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;

  @media (max-width: 1024px) {
    width: 50%;
  }
}

.list li {
  text-align: center;
  width: 8rem;
  margin-right: 2rem;
}

.list a {
  color: var(--background-primary);
  height: 4rem;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  font-size: 16pt;
  cursor: pointer;
  text-decoration: none;

  @media (max-width: 1024px) {
    font-size: 12pt;
  }
}

.list>li.current {
  background-color: var(--primary);
  color: red;
  height: 4rem;
  width: 100%;
}

.name {
  color: var(--font-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;

  @media (max-width: 1024px) {
    display: none;
  }
}

.circle {
  height: 50px;
  width: 50px;
  background-color: var(--primary);
  border-radius: 50px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}